.SliderPage-Container {
    width: 100%;
    height: 80vh;
    background-color: black;
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.SliderPage-Container img {
    width: 100%;
    height: 150%;
    opacity: 0.5;
}